<li>
	{{name}}

	<button class="change-status" data-id="{{id}}" data-eatenBurger="{{eatenBurger}}">
		{{#if eaten}}Eaten{{else}}Let's Eat!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
