<li>
	{{name}}

	<button class="change-status" data-id="{{id}}" data-eatenBurger="{{devour}}">
		{{#if devour}}Let's Eat{{else}}Eaten{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
